/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
      Blue: hsl(207, 90%, 61%)
      Purple: hsl(250, 66%, 75%)
      Pink: hsl(356, 66%, 75%)
      Teal: hsl(174, 63%, 62%)
  */

  --hue: 207;
  --sat: 90%;
  --lig: 61%;

  --first-color: hsl(var(--hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 12%, 45%);
  --text-color-light: hsl(var(--hue), 8%, 75%);
  --text-color-lighten: hsl(var(--hue), 8%, 92%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

}
/* ========= Responsive Topography ========== */
@media screen and (min-width: 968px) {
    :root {
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* ========= Base ========== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .3s;
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: 600;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
}

/* ============= NAVBAR ============ */
/* .navbar{
    display: flex;
    background-color: var(--first-color);
    justify-content: space-between;
    padding: .35rem 2rem .35rem 2rem;
    height: auto;
    width: 100%;
}
.navbar img{
    width: 150px;
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
}
.navbar li{
    margin: 0 1rem 0 1rem;
    padding: 0 0.8rem 0 0.8rem;
    color: #fff;
    font-size: var(--normal-font-size);
} */
  nav{
    background: #151515;
    padding: 5px 40px;
  }
  nav img{
    width: 100px;
  }
  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav ul li{
    padding: 15px 0;
    cursor: pointer;
  }
  nav ul li.items{
    position: relative;
    width: auto;
    margin: 0 16px;
    text-align: center;
    order: 3;
  }
  nav ul li.items:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height: 2px;
    width: 100%;
    background: #33ffff;
    opacity: 0;
    transition: all 0.2s linear;
  }
  nav ul li.items:hover:after{
    opacity: 1;
    bottom: 8px;
  }
  nav ul li.logo{
    flex: 1;
    color: white;
    font-size: 23px;
    font-weight: 600;
    cursor: default;
    user-select: none;
  }
  nav ul li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    transition: .4s;
  }
  nav ul li:hover a{
    color: cyan;
  }
  nav ul .active a{
    color: cyan;
    text-decoration: underline 2px;
    text-underline-offset: 11px;
  }
  nav ul li i{
    font-size: 23px;
  }
  nav ul li.btn{
    display: none;
  }
  nav ul li.btn.hide i:before{
    content: '\f00d';
  }
  @media all and (max-width: 900px){
    nav{
      padding: 5px 30px;
    }
    nav ul li.items{
      width: 100%;
      display: none;
    }
    nav ul li.items.show{
      display: block;
    }
    nav ul li.btn{
      display: block;
    }
    nav ul li.items:hover{
      border-radius: 5px;
      box-shadow: inset 0 0 5px #33ffff,
                  inset 0 0 10px #66ffff;
    }
    nav ul li.items.active{
      border-radius: 5px;
      box-shadow: inset 0 0 5px #33ffff,
                  inset 0 0 10px #66ffff;
    }
    nav ul li.items:hover:after{
      opacity: 0;
    }
  }

  /* ================= HERO ================== */
  .container{
    position: relative;
    background-image: url('../img/profile.jpg');
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container img{
    max-width: 100%;
    height: auto;
  }
  .site-title{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 2;
    transform: translate(-50%);
  }
  .site-title h1{
    color: #fff;
    font-size: 3rem;
    /* color: #ab9e9e; */
    text-align: center;
    margin: 0;
    letter-spacing: 3px;

  }
  .site-title p{
    font-size: 20px;
    color: #ab9e9e;
    letter-spacing: 6px;
    margin-top: 10px;
    margin: 0;
  }
  .overlay{
    background: #0000008a;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    z-index: 1;
  }

  /* =================== About Section ================== */
  .about{
    margin: 0 6rem 0 6rem;
    margin-top: 6rem;
    display: flex;
    column-gap: 4rem;
  }
  .about-image{
    width: 70%;
  }
  .about img{
    width: 100%;
    height: 30rem;
  }
  .about-content{
    width: 100%;
  }
  .about-content h3{
    width: 100%;
    text-align: center;
    font-size: var(--h2-font-size);
    font-weight: 500;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    text-decoration: underline;
  }
  .about-content p{
    width: 100%;
    text-align: center;
    font-size: var(--body-font);
    font-weight: 500;
  }
  .social{
    width: 100%;
    text-align: center;
    margin-top: 2rem;
  }
  .social i{
    font-size: 2rem;
    font-weight: 500;
    margin: 2rem;
  }
  .social i:hover{
    color: #03a9f4;
    transition: all .3s ease;
  }
  @media all and (max-width: 900px){
    .about{
      /* width: 100%; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 4rem 0 4rem;
      margin-top: 4rem;
    }
    /* .about-image{
      width: 100%;
      display: flex;
      justify-content: center;
    } */
    .about-image img{
      width: 100%;
      /* height: 20rem; */
    }
  }

  /* ================ Portfolio =============== */
  /* .wrapper{
    margin: 100px auto;
    max-width: 1100px;
  }
  .wrapper nav{
    display: flex;
    justify-content: center;
  }
  .wrapper .items{
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: space-between;
  }
  .items span{
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #007bff;
    border-radius: 50px;
    border: 2px solid #007bff;
    transition: all 0.3s ease;
  }
  .items span.active,
  .items span:hover{
    color: #fff;
    background: #007bff;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .gallery .image{
    width: calc(100% / 4);
    padding: 7px;
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .gallery .image.hide{
    display: none;
  }
  .gallery .image.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }

  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    font-weight: 500;
    margin-left: 5px;
  }
  .details .icon{
    color: #007bff;
    font-style: 22px;
    cursor: pointer;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }

  @media (max-width: 1000px) {
    .gallery .image{
      width: calc(100% / 3);
    }
  }
  @media (max-width: 800px) {
    .gallery .image{
      width: calc(100% / 2);
    }
  }
  @media (max-width: 700px) {
    .wrapper nav .items{
      max-width: 600px;
    }
    nav .items span{
      padding: 7px 15px;
    }
  }
  @media (max-width: 600px) {
    .wrapper{
      margin: 30px auto;
    }
    .wrapper nav .items{
      flex-wrap: wrap;
      justify-content: center;
    }
    nav .items span{
      margin: 5px;
    }
    .gallery .image{
      width: 100%;
    }
  } */

  .portfolio{
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
  }
  .portfolio ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .portfolio ul li{
    background: #fff;
    padding: 12px 20px;
    margin: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 50px;
    transition: all .3s ease;
    border: 2px solid #03a9f4;
    font-weight: 500;
    color: black;
  }
  .portfolio ul li:hover{
    background-color: #03a9f4;
    color: #fff;
  }
  .portfolio ul li.active{
    background: #03a9f4;
    color: #fff;
  }
  .product{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease;
  }
  .product .itemBox{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5px;
    display: block;
    transition: all 0.3s ease;
  }
  .product  .hide{
    display: none;
  }
  .product .itemBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
    overflow: hidden;
  }
  .product .itemBox img:hover{
    transform: scale(1.1);
  }

  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    font-weight: 500;
    margin-left: 5px;
  }
  .details .icon{
    color: #007bff;
    font-style: 22px;
    cursor: pointer;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }
  .product .itemBox.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }

  /*  ================= CONTACT ==================== */
  .contact-wrap {
    width: 80%;
    height: auto;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-shadow: 10px 10px 42px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -3px rgba(0,0,0,0.75);
  }


  .contact-in {
    padding: 40px 30px;
  }

  .contact-in:nth-child(1) {
    flex: 30%;
    background: url(../images/1.jpg);
    color: #fff;
  }

  .contact-in:nth-child(2) {
    flex: 45%;
    /* background: #c31432; */
  }

  .contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
  }

  .contact-in h1 {
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
  }

  .contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  .contact-in h2 i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
  }

  .contact-in p {
    font-size: 14px;
    color: #000;

    font-weight: 300;
    margin-bottom: 20px;
  }

  .contact-in ul {
    padding: 0;
    margin: 0;
  }

  .contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 5px;
    margin-top: 5px;
  }

  .contact-in ul li a {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
  }

  .contact-in ul li a i {
    font-size: 14px;
    line-height: 30px;
    color: #000;
  }

  .contact-in form {
    width: 100%;
    height: auto;
  }

  .contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }

  .contact-in-input::placeholder {
    color: #fff;
  }

  .contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
  }

  .contact-in-textarea::placeholder {
    color: #fff;
  }

  .contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
  }

  .contact-in iframe {
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width:480px) {
    .contact-in:nth-child(1) {
      flex: 50%;
    }

    .contact-in:nth-child(2) {
      flex: 50%;
    }

    .contact-in:nth-child(3) {
      flex: 100%;
    }

  }

  @media only screen and (max-width:360px) {
    .contact-in:nth-child(1) {
      flex: 50%;
    }

    .contact-in:nth-child(2) {
      flex: 50%;
    }

    .contact-in:nth-child(3) {
      flex: 100%;
    }

  }


  /*  ================= FOOTER ==================== */
.footer__copy{
  display: block;
  padding: 2.5rem  0 2rem;
  text-align: center;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  background: #151515;

}
.container-foot{
  width: 100%;
  /* margin-left: 1.5rem; */
  /* margin-right: 1.5rem; */
  background: #151515;

}

  /*  ================= SERVICE PAGE ==================== */
  .services{
    /* width: 100%; */
    /* display: flex; */
    /* flex-direction: row-reverse; */
    margin: 5rem;
  }
  .section-intro{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
  }
  .info{
    width: 50%;
  }


  .info .title h1{
    font-family: 'Nuosu SIL', serif;
    font-size: 4rem;
    font-weight: 200;
  }
  .info  h4{
    font-family: 'Nuosu SIL', serif;
    font-size: 1.25rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: #000;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .info p{
    margin-bottom: 40px;
    line-height: 30px;
    font-family: 'Nuosu SIL', serif;
    font-weight: 500;
    color: 17px;
  }
  .info .big-p p{
    color: #000;
    font-size: x-large;
    font-weight: 500;
  }
  .info-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
  }
  .services .info-img img{
    width: 500px;
    height: 600px;
  }

  /*  ================= SERVICE PAGE TYPES ==================== */
  .types{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
  }
  .type-cont{
    margin: 1.5rem;
    background-size: cover;
    object-fit: cover;
    width: 350px;
    height: 350px;
    object-fit: cover;
    transition: all .3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .type-cont img{
    width: 300px;
    height: 300px;

  }
  .type-cont h1{
    font-family: 'Nuosu SIL', serif;
    margin: 13px 2px 13px 2px;
  }
  .type-cont p{
    font-family: 'Nuosu SIL', serif;
    width: 300px;
    line-height: 20px;
    font-weight: 500;
  }
  @media all and (max-width: 900px){
    .section-intro{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .info{
      width: 100%;
    }
    .info-img{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .75rem;
    }
    .section-intro .info-img img{
      width: 400px;
      height: 450px;
    }
  }
  @media all and (max-width: 600px){
    .section-intro{
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .info{
      width: 100%;
    }
    .info-img{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: .75rem;
    }
    .section-intro .info-img img{
      width: 300px;
      height: 350px;
    }
    .info .title h1{
      font-size: 2.5rem;
      font-weight: 200;
    }
    .info  h4{
      font-size: 1rem;
      font-weight: 200;
      letter-spacing: 1px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .info p{
      margin-bottom: 20px;
      line-height: 20px;
      font-weight: 500;
    }
    .info .big-p p{
      font-size: large;
      font-weight: 500;
    }
  }


  .types .type-cont input{
    background-color: #007bff;
    padding: 2px 0 2px 10px;
    width: 14rem;
    cursor: pointer;
    font-family: 'Nuosu SIL', serif;
    padding: 13px 2px 13px 0px;
    background: none;
    outline: none;
    font-size: 1.8rem;
    border: none;
    overflow: hidden;
    margin-top: 1px;
    border-radius: 8px;
    transition: width 0.5s ease-in-out;
    background-position: 0 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #007bff 50%);
    transition: background-position 0.5s ease-out 0s;
    background-size: 200.22% auto;
  }
  .types .type-cont input:hover{

    background-position: -99.99% 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #419dff 50%);
  }
  .types .type-cont input:hover{
    color: #fff;
  }

  .title{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 3rem auto;
  }
  .title h1{
    font-family: 'Nuosu SIL', serif;
    font-weight: 500;
    font-size: 3rem;
    color: var(--body-font);
  }
/* 
  .hidden{
     margin: 3rem; 
  } */
  .hidden .innerHidden{
    
    justify-content: center;
    padding: 1rem 0 3rem 0;
    margin: 3rem;
    -webkit-box-shadow: 10px 10px 42px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -3px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -3px rgba(0,0,0,0.75);
  }
  .hidden .innerHidden img{
    width: 100%;
    object-fit: cover;
    height: auto;
    margin-bottom: 2rem;
  }
  .hidden .innerHidden h1{
    width: 100%;
    text-align: center;
    font-size: 2.35rem;
    font-weight: 500;
    margin-bottom: 1rem;
    font-family: 'Nuosu SIL', serif;
  }











